.conditional-or,
.conditional-and,
.conditional-parentheses {
  font-size: 0.8rem;
}

.conditional-or {
  font-weight: bold;
  color: lightblue;
}

.conditional-and {
  font-weight: bold;
  color: blueviolet;
}

.conditional-parentheses {
  font-weight: bold;
  color: yellow;
}
